/* --------
Global
-------- */
body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: #333; */
    background-image: url("pics/vanishing-stripes.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
  }
  
  .spacer {
    width: 100%;
    height: 8vw;
  }
  @media screen and (max-width: 800px) {
    .spacer {
      height: 18vw;
    }
  }
 
  .mylogosmall {
    width: 6vw;
    display: block;
    margin-right: 10vw;
  }
  /* --------
    Header CSS
    -------- */
  header {
    background-color: #315ae2;
    width: 100%;
    height: 6vw;
    box-shadow: 0px 5px rgb(34, 34, 33);
    top: 0;
    padding-top: 1vw;
    position: fixed;
    z-index: 1;
  }
  /* Regular navigation menu */
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 4vw;
  }
  .liright {
    margin-right: 30vw;
  }
  
  /* Hide mobile menu links initially */
  .mobile-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    min-height: 108vw;
    background-color: #315ae2;
  }
  
  .mobile-menu li {
    text-align: center;
    padding: 2vw 0;
    color: #0e0724;
  }
  
  /* Hamburger icon */
  .hamburger {
    color: #bebebc;
    font-size: 12vw;
    cursor: pointer;
    margin-left: 2vw;
    display: none; /* Hide by default */
  }
 
  /* Links */
  nav a {
    text-decoration: none;
    padding: 1vw;
    font-size: 1.5vw;
    color: white;
  }
  
  nav p {
    margin-left: auto;
    font-size: 1.5vw;
    padding-right: 1vw;
  }
  
  /* Show the hamburger menu on small screens */
  @media (max-width: 768px) {
    nav ul.menu {
      display: none; /* Hide the regular menu */
      
    }
    nav ul {
      margin-left: 0;
  
    }
    .mobile-menu li {
      margin-left: 0;
    }
    .mobile-menu {
      width: auto;
      padding-right: 10vw;
    }
    header {
      height: 19vw;
    }
    .hamburger {
      display: block; /* Show the hamburger menu */
    }
  
    .mobile-menu.show {
      display: flex;
      width: 100%;
      position: fixed;
    }
    nav a {
      font-size: 6.5vw;
      color: #0e0724;
      margin: 0 auto;
    }
  
  }
  /*End of header css*/


/* Index css */
.nytt{
    margin: 0 auto;
    color: white;
    font-size: 2vw;
}
.main{
    margin: 0 auto;
    padding-top: 4vw;
    width: 80%;
    text-align: center;
    min-height: 35vw;
    /* border: #d3d609 solid 3px; */
}
.ytcontent
{
    width: 100%;
    min-height: 20vw;
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}
.video{
    width: 24vw;
    min-height: 14vw;
    max-height: 16vw;
    margin: 0 auto;
   background-color: rgba(28, 49, 145, 0.8);
   box-shadow: 4px 4px;
}
.videotxt{
    width: 24vw;
    min-height: 6vw;
    max-height: 6vw;
    margin: 0 auto;
   background-color: transparent;
   font-size: 1.2vw;
   color: white;
}

iframe{
    width: 24vw;
    height: auto;
    min-height: 13vw;
    box-shadow: 4px 4px;
}
.tkanal{
    width: 12vw;
    height: 3vw;
    margin: 0 auto;
    margin-top: 8vw;
    background-color: #e2a80a;
    border-radius: 10px;
    font-size: 1.1vw;
    color: white;
    text-align: center;
   align-content: center;
}

.pc{
    min-height: 28vw;
    max-height: 30vw;
    margin: 0 auto;
   flex: 0 31%;
   
}
.pctxt{
    width: 24vw;
   height: 4vw;
    margin: 0 auto;
    padding-bottom: 2vw;
   background-color: red;
   color: white;
}
.pcpic{
    width: auto;
    min-height: 20vw; 
    max-height: 20vw;
    margin: 0 auto;
    box-shadow: 4px 4px;
}
@media (max-width: 900px) {
    .nytt{
        font-size: 4vw;
    }
    .main .main2{
        width: 90%;
        min-height: 190vw;
     
    }
    .ytcontent
    {
        min-height: 180vw;
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        gap: 46vw;
    }
    .video{
        width: 68vw;
        min-height: 10vw;
        max-height: 12vw;
        margin: 0 auto;
       background-color: rgba(28, 49, 145, 0.8);
    }
    .videotxt{
        width: 68vw;
        min-height: 10vw;
        max-height: 12vw;
        margin: 0 auto;
       background-color: transparent;
       color: white;
       font-size: 2.5vw;
    }
    .videopic{
        width: 68vw;
        min-height: 10vw;
        max-height: 10vw;
        margin: 0 auto;
      
    }
    iframe{
        width: 68vw;
        min-height: 30vw;
        max-height: 38vw;
    }
    .tkanal{
        width: 52vw;
        height: 10vw;
        margin: 0 auto;
        margin-top: 3vw;
        background-color: #d3d609;
        border-radius: 6px;
        font-size: 3vw;
    }
    .pcpic{
        width: auto;
        min-height: 50vw; 
        max-height: 50vw;
        margin: 0 auto;
    }
  }